<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eruru.Json_For_.NET_Framework_2.0" version="1.0.0.16" targetFramework="net40" />
  <package id="Eruru.TextTokenizer_For_.NET_Framework_2.0" version="1.0.0.10" targetFramework="net40" />
  <package id="HDF5DotNet.x86" version="1.8.9" targetFramework="net40" />
</packages>